
<div class="user-acc">
  
	<div class="container">   

   {% comment %} {%- if shop.customer_accounts_enabled -%}
    <ul>
      {%- if customer -%}
      <li>
        <a href="/account">Account</a>
      </li>
      <li>
        {{ 'Log out' | customer_logout_link }}
      </li>
      {%- else -%}
      <li>
        {{ 'Log in' | customer_login_link }}
      </li>
      <li>
        {{ 'Create account' | customer_register_link }}
      </li>
      {%- endif -%}
    </ul>
    {%- endif -%}{% endcomment %}

    <h1>{{ 'customer.orders.title' | t }}</h1>


{% comment %}    <table class="responsive-table">
      <tr>
        <th>Month</th>
        <th>Savings</th>
        <th>Month</th>
        <th>Month</th>
        <th>Savings</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
        <td>$100</td>
        <td>January</td>
        <td>$100</td>
      </tr>
    </table>
    {% endcomment %}
    {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}
    <table class="responsive-table">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>{{ 'customer.orders.payment_status' | t }}</th>
          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="responsive-table-row">
          <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.order_status_url }}</td>
          <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
          <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
          <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
          <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}

    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}

    {% endpaginate %}

    <h1>{{ 'customer.account.details' | t }}</h1>

    {{ customer.default_address | format_address }}

    <div class="bbtns-block bbtns-block--in-acc">
    <a href="/account/addresses" class="btn btn--yellow">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      
    <button id="Rise-account-page-button" class="btn btn--yellow" style="margin-top: 15px;">Store Credit</button>

  <div class="bbtns-block bbtns-block--in-acc">
    <a href="/account/logout" class="btn btn--yellow">Log out</a>
  </div>


  </div>
</div>
