{% if product.title == 'Sateen Dream™ Sheets' or product.title == 'Sateen Dream™ Pillowcases' or product.title == 'Sateen Dream™ Duvet Cover' or product.title == 'Big Duvet™ Insert' %}
  {% if product.metafields.show_block.key_show_block  contains "true" %}

  <div style="order: {{product.metafields.order.first_block_position}}" class="equal-block equal-block--guarantee {% if product.metafields.img_fl.img_fl contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev.img_irev contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos.img_pos}}">
        <h2>
          {{product.metafields.title.text_title}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc.desc}}
        </div>
        <div class="options-list">
          {{product.metafields.asdf.asdf}}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid.meta_vid != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">      
        <video class="top-block__video" src="{{product.metafields.meta_vid.meta_vid}}" preload="metadata" autoplay loop playsinline muted></video>      
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl.img_fl  contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{product.metafields.block_image.image }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" data-src="{{product.metafields.block_image.image}}" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image.image}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}



  </div>
  {% endif %}


  {% if product.metafields.show_block2.key_show_block2  contains "true" %}

  <div style="order: {{product.metafields.order.second_block_position}}" class="equal-block equal-block--guarantee {% if product.metafields.img_fl2.img_fl2 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev2.img_irev2 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos2.img_pos2}}">
        <h2>
          {{product.metafields.title2.text_title2}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc2.desc2}}
        </div>
        <div class="options-list">
          {{product.metafields.asdf2.asdf2 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid1.meta_vid1 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">            
        <video class="top-block__video" src="{{product.metafields.meta_vid1.meta_vid1}}" preload="metadata" autoplay loop playsinline muted></video>      
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl2.img_fl2 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image2.image2 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image2.image2}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image2.image2}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}


  {% if product.metafields.show_block5.key_show_block5  contains "true" %} 

  <div style="order: {{product.metafields.order.fifth_block_position}}" class="equal-block equal-block--last equal-block--last-in-page equal-block--guarantee {% if product.metafields.img_fl5.img_fl5 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev5.img_irev5 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos5.img_pos5}}">
        <h2>
          {{product.metafields.title5.text_title5}} 
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc5.desc5}} 
        </div>
        <div class="options-list">
          {{product.metafields.asdf5.asdf5 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid4.meta_vid4 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">  
        <video class="top-block__video" src="{{product.metafields.meta_vid4.meta_vid4}}" preload="metadata" autoplay loop playsinline muted></video>
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl5.img_fl5 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image5.image5 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image5.image5}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image5.image5}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}


  {% if product.metafields.show_block3.key_show_block3  contains "true" %}

  <div style="order: {{product.metafields.order.third_block_position}}" class="equal-block equal-block--guarantee {% if product.metafields.img_fl3.img_fl3 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev3.img_irev3 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos3.img_pos3}}">
        <h2>
          {{product.metafields.title3.text_title3}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc3.desc3}} 
        </div>
        <div class="options-list">
          {{product.metafields.asdf3.asdf3 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid2.meta_vid2 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">
        <video class="top-block__video" src="{{product.metafields.meta_vi2.meta_vid2}}" preload="metadata" autoplay loop playsinline muted></video>
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl3.img_fl3 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image3.image3 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image3.image3}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image3.image3}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}



  </div>
  {% endif %}


  {% if product.metafields.show_block4.key_show_block4  contains "true" %}

  <div style="order: {{product.metafields.order.fourth_block_position}}" class="equal-block equal-block--bd0 equal-block--last equal-block--guarantee {% if product.metafields.img_fl4.img_fl4 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev4.img_irev4 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos4.img_pos4}}">
        <h2>
          {{product.metafields.title4.text_title4}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc4.desc4}} 
        </div>
        <div class="options-list">
          {{product.metafields.asdf4.asdf4 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid3.meta_vid3 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">
        <video class="top-block__video" src="{{product.metafields.meta_vid3.meta_vid3}}" preload="metadata" autoplay loop playsinline muted></video>
        
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl4.img_fl4 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image4.image4 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image4.image4}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image4.image4}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}

{% else %}

  {% if product.metafields.show_block.key_show_block  contains "true" %}

  <div style="order: {{product.metafields.order.first_block_position}}" class="equal-block equal-block--guarantee {% if product.metafields.img_fl.img_fl contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev.img_irev contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos.img_pos}}">
        <h2>
          {{product.metafields.title.text_title}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc.desc}}
        </div>
        <div class="options-list">
          {{product.metafields.asdf.asdf}}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid.meta_vid != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">      
        <video class="top-block__video" src="{{product.metafields.meta_vid.meta_vid}}" preload="metadata" autoplay loop playsinline muted></video>      
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl.img_fl  contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{product.metafields.block_image.image }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" data-src="{{product.metafields.block_image.image}}" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image.image}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}



  </div>
  {% endif %}


  {% if product.metafields.show_block2.key_show_block2  contains "true" %}

  <div style="order: {{product.metafields.order.second_block_position}}" class="equal-block equal-block--guarantee {% if product.metafields.img_fl2.img_fl2 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev2.img_irev2 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos2.img_pos2}}">
        <h2>
          {{product.metafields.title2.text_title2}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc2.desc2}}
        </div>
        <div class="options-list">
          {{product.metafields.asdf2.asdf2 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid1.meta_vid1 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">            
        <video class="top-block__video" src="{{product.metafields.meta_vid1.meta_vid1}}" preload="metadata" autoplay loop playsinline muted></video>      
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl2.img_fl2 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image2.image2 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image2.image2}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image2.image2}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}


  {% if product.metafields.show_block5.key_show_block5  contains "true" %} 

  <div style="order: {{product.metafields.order.third_block_position}}" class="equal-block equal-block--last equal-block--last-in-page equal-block--guarantee {% if product.metafields.img_fl5.img_fl5 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev5.img_irev5 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos5.img_pos5}}">
        <h2>
          {{product.metafields.title5.text_title5}} 
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc5.desc5}} 
        </div>
        <div class="options-list">
          {{product.metafields.asdf5.asdf5 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid4.meta_vid4 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">  
        <video class="top-block__video" src="{{product.metafields.meta_vid4.meta_vid4}}" preload="metadata" autoplay loop playsinline muted></video>
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl5.img_fl5 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image5.image5 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image5.image5}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image5.image5}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}


  {% if product.metafields.show_block3.key_show_block3  contains "true" %}

  <div style="order: {{product.metafields.order.fourth_block_position}}" class="equal-block equal-block--guarantee {% if product.metafields.img_fl3.img_fl3 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev3.img_irev3 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos3.img_pos3}}">
        <h2>
          {{product.metafields.title3.text_title3}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc3.desc3}} 
        </div>
        <div class="options-list">
          {{product.metafields.asdf3.asdf3 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid2.meta_vid2 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">
        <video class="top-block__video" src="{{product.metafields.meta_vi2.meta_vid2}}" preload="metadata" autoplay loop playsinline muted></video>
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl3.img_fl3 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image3.image3 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image3.image3}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image3.image3}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}



  </div>
  {% endif %}


  {% if product.metafields.show_block4.key_show_block4  contains "true" %}

  <div style="order: {{product.metafields.order.fifth_block_position}}" class="equal-block equal-block--bd0 equal-block--last equal-block--guarantee {% if product.metafields.img_fl4.img_fl4 contains 'true' %} equal-block--full-img {% endif %}{% if product.metafields.img_irev4.img_irev4 contains 'true' %}equal-block--inverse{% endif %}">
    <div class="equal-block__part equal-block__part--left">
      <div class="equal-block__part-content text-align-{{product.metafields.img_pos4.img_pos4}}">
        <h2>
          {{product.metafields.title4.text_title4}}
        </h2> 
        <div class="subtitle">
          {{product.metafields.desc4.desc4}} 
        </div>
        <div class="options-list">
          {{product.metafields.asdf4.asdf4 }}
        </div>
      </div>
    </div>

    {% if product.metafields.meta_vid3.meta_vid3 != blanket %}
    <div class="equal-block__part equal-block__part--right"> 
      <div class="equal-block__media">
        <video class="top-block__video" src="{{product.metafields.meta_vid3.meta_vid3}}" preload="metadata" autoplay loop playsinline muted></video>
        
      </div>
    </div>
    
    {% else %}
    {% if product.metafields.img_fl4.img_fl4 contains 'true' %} 
    <div class="equal-block__part equal-block__part--media" style="background-image: url('{{ product.metafields.block_image4.image4 }}')" ></div>
    {%else%}
    <div class="equal-block__part ">
      <div class="equal-block__media">
        <img class="lazy2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{product.metafields.block_image4.image4}}" data-yo-delayType="lazy" alt="img">
        {% comment %}
        <img src="{{product.metafields.block_image4.image4}}" alt="img">
        {% endcomment %}
      </div>
    </div>
    {% endif %}

    {% endif %}

  </div>
  {% endif %}
{% endif %}


<style>
  .bbd-metafields-section {
    display: flex;
    flex-direction: column;
  }
</style>

{% schema %}
{
  "name": "Metafields section",
  "presets": [{
    "name": "Metafields section",
    "category": "Custom"
  }],
  "class": "bbd-metafields-section"
} 
{% endschema %}