<!-- /templates/collection.liquid -->

<div class="collection-block" id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">
  {%- paginate collection.products by 20 -%}

  <div class="collection-block__navigation">
    <div class="container">
      <ul>
        {%- for product in collection.products -%}
        {% if product.available %}
        <li>
          <a href="#prod_id_{{product.id}}">
            {{product.title}}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="collection-block__content">
    {% comment %}
    Loop through our products in the current collection.
    See the snippet 'snippets/product-grid-collage.liquid'.

    `is_reverse_row__product`, `three_row_index__product`, `collection_product_count`, and `divisible_by_three__product` are
    all used by 'snippets/product-grid-collage.liquid'
    {% endcomment %}
    {%- for product in collection.products -%}
    {% if product.available %}
    <div class="collection-block__box" id="prod_id_{{product.id}}">
      <div class="container">

        <div class="collection-block__box-grid">
          <a href="{{ product.url | default: '#' }}" class="collection-block__item collection-block__item--main">
            <span class="collection-block__porduct">
              <span class="collection-block__porduct-img">
                {% if product.metafields.pdp_image.pdp_image != blank %}
                <img src="{{product.metafields.pdp_image.pdp_image}}" alt="{{product.title}}">
                {%else%}
                <img  src="{{ product.featured_image | product_img_url: '500x' }}" alt="{{product.title}}">
                {% endif %}
              </span>
              <span class="collection-block__porduct-header">
                <span class="collection-block__porduct-header-box">
                  <span class="collection-block__porduct-title">
                    {{product.title}}
                  </span>
                  <span class="collection-block__porduct-cat">
                    {{ product.type}}
                    {% if section.settings.product_vendor_enable %}
                    {% comment %}{{ product.vendor | link_to_vendor }}{% endcomment %}
                    <br>
                    {{ product.vendor }}
                    {% endif %}
                  </span>
                </span>
                
                {% comment %}
                {% for tag in product.tags %}
                {% if tag contains 'best_seller' or tag contains 'low_stock' or tag contains 'restocked' or tag contains 'flash_sale' or tag contains 'sale' %}
                <span class="status-item tabbed-item">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.306 1.796c.163.816 1.306 1.306 1.96.653.979-.816 2.448.49 1.795 1.633-.326.816.164 1.796 1.143 1.796 1.306 0 1.633 1.796.49 2.449-.98.326-1.143 1.306-.49 1.959.98.98 0 2.449-1.143 2.122-.816-.326-1.633.49-1.633 1.306.164 1.306-1.632 1.96-2.285.817a1.226 1.226 0 00-2.123 0c-.653 1.143-2.449.49-2.285-.817.163-.816-.817-1.632-1.633-1.306-1.143.327-2.122-1.143-1.143-2.122.653-.653.49-1.633-.326-2.123-1.306-.49-.98-2.285.326-2.285.816 0 1.47-.98.98-1.796-.49-1.143.98-2.45 1.959-1.633.653.49 1.796.163 1.96-.653C7.183.49 8.98.49 9.305 1.796z" stroke="#000" stroke-miterlimit="10"/></svg>
                  {% if tag contains 'best_seller' %}
                  BEST SELLER
                  {% elsif tag contains 'low_stock' %}
                  LOW-STOCK
                  {% elsif tag contains 'restocked' %}
                  RESTOCKED
                  {% elsif tag contains 'flash_sale' %}
                  FLASH SALE
                  {% elsif tag contains 'sale' %}
                  SALE
                  {% endif %}
                </span>
                {% endif %}
                {% endfor %}
                {% endcomment %}
                
                {% assign tag_list = '' %}
                <div class="new-label">
                  {% for tag in product.tags %}
                    {% if tag contains 'label_' %}
                        {% assign tag_list = tag_list | append: tag | append: "," %}
                    {% endif %}
                  {% endfor %}
                  {% assign tag_list_no_comma = tag_list | split: ',' | join: "," %}
                  {% assign tag_list_no_comma = tag_list_no_comma | split: ',' %}
                  {% for tag_loop in tag_list_no_comma %} 
                    {% assign removed_underscore = tag_loop |split: '_' | last %}
                    {% assign real_label = removed_underscore | split:'-' | join: ' ' %}
                    <p class="tag-label">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.306 1.796c.163.816 1.306 1.306 1.96.653.979-.816 2.448.49 1.795 1.633-.326.816.164 1.796 1.143 1.796 1.306 0 1.633 1.796.49 2.449-.98.326-1.143 1.306-.49 1.959.98.98 0 2.449-1.143 2.122-.816-.326-1.633.49-1.633 1.306.164 1.306-1.632 1.96-2.285.817a1.226 1.226 0 00-2.123 0c-.653 1.143-2.449.49-2.285-.817.163-.816-.817-1.632-1.633-1.306-1.143.327-2.122-1.143-1.143-2.122.653-.653.49-1.633-.326-2.123-1.306-.49-.98-2.285.326-2.285.816 0 1.47-.98.98-1.796-.49-1.143.98-2.45 1.959-1.633.653.49 1.796.163 1.96-.653C7.183.49 8.98.49 9.305 1.796z" stroke="{% if block.settings.white_color %}#fff{%else%}#000{%endif%}" stroke-miterlimit="10"/></svg>
                      {{ real_label }}
                    </p>
                  {% endfor %}
                </div>
                
              </span> 
              <span class="collection-block__porduct-action">
                <span class="btn btn--white">SHOP {{product.title}}</span>
              </span>
            </span>
          </a>
          
          <div class="variant-count"><b>Available in</b> <span>10</span> colors</div>


          {% for variant in product.variants %}
            {% if variant.available %}
              <div class="collection-block__item collection-block__item--variant" data-variantid="{{variant.id}}">
                <div class="collection-block__porduct">
                  {% if variant.option2 != blank %}
                    <div class="collection-block__porduct-ico">
                      {{variant.option2}}
                    </div>
                  {% endif %}
                  <a href="{{variant.url}}" class="collection-block__porduct-img">
                    <img src="{{variant.image | img_url: '300x' }}" alt="{{ product.title }}">
                  </a>
                  <div class="collection-block__porduct-header">
                    <div class="collection-block__porduct-title">
                      {{ variant.title  }}
                    </div>
                    <div class="collection-block__porduct-cat">
                      {{ product.title}}
                    </div>  
                  </div> 
                  <div class="collection-block__porduct-price">
                    {{ variant.price | money }}
                  </div>
                </div>
              </div>
            {% endif %}  
          {% endfor %}
      </div>
      <div class="load-more">
        LOAD MORE
        {% include 'icon-down' %} 
      </div>

    </div>
  </div>
  {% endif %}


  {%- else -%}

  {%- if shop.products_count == 0 -%}

  {% comment %}If collection exists but is empty, display message{% endcomment %}
  <div class="grid__item text-center">
    <p>{{ 'collections.general.no_matches' | t }}</p>
  </div>
  {%- endif -%}
  {%- endfor -%}

</div>

{%- if paginate.pages > 1 -%}
{%- include 'pagination' -%}
{%- endif -%}

{%- endpaginate -%}
</div>



{% schema %}
{
  "name": "Collection pages",
  "settings": [
  {
    "type": "header",
    "content": "Products"
  },
  {
    "type": "checkbox",
    "id": "product_vendor_enable",
    "label":  "Show product vendor"
  }
  ]
}
{% endschema %}
