<div class="faq-total-wrapper">
  <div class="faq-wrapper">
    <h3>{{ section.settings.header_text }}</h3> 
    <div class="faq-item-wrapper">
      {% for block in section.blocks %}
        <div class="so-tab">
          <input id="so-tab-{{ forloop.index }}" type="checkbox" name="tabs"> 
          <label for="so-tab-{{ forloop.index }}">
            <strong>{{ block.settings.faq_header }}</strong><br>
          </label>
          <div class="so-tab-content">  
            {{ block.settings.faq_body }}
          </div>
        </div>    
      {% endfor %}    
    </div>
  </div>

  <div class="faq-image-wrapper">
    <img src="{{ section.settings.faq_img| img_url: 'master' }}">
  </div>

  <div class="faq-right-wrapper">
    <h3>{{ section.settings.right_header_text }}</h3>
    <a href="{{ section.settings.target_url }}">
      <span>{{ section.settings.button_text }}</span>
    </a> 
  </div>
</div>

{% schema %}
{
"name": "Contact FAQ",
"settings": [
    {
      "id": "header_text",
      "type": "text",
      "label": "Header Text"
    },    
    {
      "type": "image_picker",
      "id": "faq_img",
      "label": "Middle Image"
    },
    {
      "id": "right_header_text",
      "type": "text",
      "label": "Right Header Text"
    },
	{
      "id": "button_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "target_url",
      "type": "url",
      "label": "Button link"
    }
  ],
  "blocks" : [
      {
        "type": "faq",
        "name": "faq content",
        "settings": [
		  {
            "id": "faq_header",
            "type": "text",
            "label": "Question"
          },
          {
            "type": "textarea",
            "id": "faq_body",
            "label": "Answer",
            "default": "<p><strong>Make an announcement</strong> | More info</p>"
          }
        ]
      }
    ]
}
{% endschema %}
