<div class="product-template__container" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template">


  <div class="container">
    <div class="cst-prod">


      <div class="cst-prod__item cst-prod__item--part-l">

        <div class="gift__cart-gallery">
          {% for image in product.images %}
          <img class="{% if forloop.first == true %}active{% endif %}" 
          sizes="(min-width: 768px) 30vw, 100vw"
          srcset="{{ image | img_url: '300x' }} 300w,
          {{ image | img_url: '600x' }} 600w,
          {{ image | img_url: '900x' }} 900w,
          {{ image | img_url: '1200x' }} 1200w,
          {{ image | img_url: '1500x' }} 1500w"
          src="{{ image | product_img_url: 'large' }}"
          alt="{{ image.alt | escape }}">
          {% endfor %}
        </div>

      </div>
      <div class="cst-prod__item cst-prod__item--part-r">
        <div class="cart-prod__item-box">
          <h1 class="gift__cart-title">
            {% for variant in product.variants %}
            {% if variant.available %}

            <span class="{% if variant == product.selected_or_first_available_variant %}active{% endif %}" data-sku="{{ variant.sku }}" data-value="{{ variant.id }}">{{ variant.title }}</span>

            {% else %}
            <span>
              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
            </span>
            {% endif %}
            {% endfor %}
          </h1>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% assign variant = product.selected_or_first_available_variant %}

            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">


            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
              {%- if shop.taxes_included -%}
              {{ 'products.general.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
              {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
            {%- endif -%}

            {% form 'product', product, class:productform_class %}

            <div class="variatn__grid">
              {% for variant in product.variants %}
              {% if variant.available %}

              <div class="variatn__grid-item{% if variant == product.selected_or_first_available_variant %} active{% endif %}" data-sku="{{ variant.sku }}" data-value="{{ variant.id }}" data-pirce="{{ variant.price | money_with_currency }}">{{ variant.title }}</div>

              {% endif %}
              {% endfor %}
            </div>

            <div class="hide">
              <select name="id" id="ProductSelect-{{ section.id }}" class="gift__cart-variants">
                {% for variant in product.variants %}
                {% if variant.available %}

                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}
                {% endfor %}
              </select>

              <div class="product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              </div>
            </div>

            {% comment %}<div class="gift__cart-action">{% endcomment %}
              <button type="submit" name="add" id="AddToCart" class="btn btn--yellow gift-cart-js js-go-cart-add-to-cart {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>

                {% for variant in product.variants %}
                {% if variant.available %}

                <span class="btn__var{% if variant == product.selected_or_first_available_variant %} active{% endif %}" data-sku="{{ variant.sku }}" data-value="{{ variant.id }}" data-pirce="{{ variant.price | money_with_currency }}"> - {{ variant.title }}</span>

                {% endif %}
                {% endfor %}

              </button>
            {% comment %}</div>{% endcomment %}


            {% if section.settings.enable_payment_button %}
            {% comment %}{{ form | payment_button }}{% endcomment %}
            {% endif %}
            {% endform %}

            <div class="gift__cart-desc">
              {{ product.description }}
            </div>

            {% comment %}  {% unless section.settings.show_extra_tab == false or pages[section.settings.extra_tab_content] == empty %}
            <div class="tabs">
              <ul class="tab-switch__nav">
                <li>
                  <a href="#description" data-link="description" class="tab-switch__trigger h3">{{ 'products.product.description' | t }}</a>
                </li>
                <li>
                  <a href="#extra" data-link="extra" class="tab-switch__trigger h3">{{ pages[section.settings.extra_tab_content].title }}</a>
                </li>
              </ul>
              <div id="description" class="tab-switch__content" data-content="description">
                <div class="product-description rte" itemprop="description">
                  {{ product.description }}
                </div>
              </div>
              <div id="extra" class="tab-switch__content" data-content="extra">
                <div class="rte">
                  {{ pages[section.settings.extra_tab_content].content }}
                </div>
              </div>
            </div>
            {% else %}
            <div class="product-description rte" itemprop="description">
              {{ product.description }}
            </div>
            {% endunless %}{% endcomment %}

            {% if section.settings.social_sharing %}
            <hr class="hr--clear hr--small">
            <h2 class="h4">{{ 'products.general.share_title' | t }}</h2>
            {% include 'social-sharing' %}
            {% endif %}
          </div>

        </div>
      </div>


    </div>

  </div>

</div>





{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
  {
    "type": "checkbox",
    "id": "product_vendor_enable",
    "label": "Show product vendor"
  },
  {
    "type": "checkbox",
    "id": "product_quantity_enable",
    "label": "Show quantity selector"
  },
  {
    "type": "header",
    "content": "Description"
  },
  {
    "type": "checkbox",
    "id": "social_sharing",
    "label": "Enable product sharing"
  },
  {
    "type": "header",
    "content": "Product options form"
  },
  {
    "type": "checkbox",
    "id": "enable_payment_button",
    "label": "Show dynamic checkout button",
    "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
    "default": true
  }
  ]
}
{% endschema %}
